################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EGameTools
/x64
/EGameTools/x64
/EGameTools/EGameTools.vcxproj.user

/.vs/EGameSDK
/x64
/EGameSDK/x64
/EGameSDK/EGameSDK.vcxproj.user

/enc_temp_folder
